---
import { SITE, APP_BLOG as BLOG } from "astrowind:config";

import Layout from "~/layouts/BlogLayout.astro";
import BlogList from "~/components/blog/List.astro";
import Pagination from "~/components/atoms/Pagination.astro";

import { fetchPosts } from "~/utils/posts";
import { getCanonical, getPermalink, BLOG_BASE } from "~/utils/permalinks";

export async function getStaticPaths({ paginate }) {
  if (BLOG?.disabled || BLOG?.blog?.disabled) return [];

  const posts = await fetchPosts();

  return paginate(posts, {
    params: { post: BLOG_BASE || undefined },
    pageSize: BLOG.postsPerPage,
  });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
  title: `Blog ${currentPage > 1 ? `— Page ${currentPage} ` : ""}— ${
    SITE.name
  }`,
  description: SITE.description,
  canonical: getCanonical(getPermalink(BLOG?.blog?.pathname)),
  ogType: "blog",
  noindex: currentPage > 1,
};
---

<Layout {meta}>
  <Fragment slot="title">
    Latest
      <span class="bg-clip-text text-transparent p-2 inline-block leading-tight bg-gradient-to-r from-[rgb(59,130,246)] to-[rgb(236,72,153)]">
          Blogs
      </span>
  </Fragment>
  <BlogList posts={page.data} />
  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</Layout>
